
body{
    background-color: rgb(21, 84, 47);
    text-align: center;
    color: antiquewhite;
}
table, th, td{
    border: 1px solid rgb(230, 8, 8);
    border-collapse: collapse;
    text-align: center;
}